/* Universal Styles */

html {
    font-family: "Laila", sans-serif;
    font-size: 16px;
}

.main-content {
    position: relative;
    top: 5.3125rem;
}

.center {
    text-align: center;
}

.button {
    border-radius: 4px;
    background-color: #4a4a4a;
    color: white;
}

.image-container {
    overflow: hidden;
}

.image-container img {
    display: block;
    max-width: 100%;
}

@media only screen and (max-width: 760px) {
    .main-content {
        top: 2.5625rem;
    }
}

/* Header */

header {
    position: fixed;
    z-index: 100;
    width: 100%;
    background: #111;
}

header .content {
    display: flex;
    align-items: center;
    padding: 1.875rem;
}

header .logo {
    flex: 1;
}

header nav ul {
    display: flex;
}

nav li {
    padding-left: 3.5rem;
    text-decoration: none;
}

nav a {
    vertical-align: bottom;
    line-height: 1.6;
    font-size: 1rem;
    color: #999;
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
}

header .icon {
    width: 1rem;
    padding-left: .75rem;
}

header .mobile {
    display: none;
}