* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gallery-container {
    padding: 40px 5%;
    background-color: var(--transluscent-background);
}

ul {
    list-style: none;
}

.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.photo-gallery > li {
    flex: 1 1 auto;
    height: 300px;
    cursor: pointer;
    position: relative;
}

.photo-gallery::after {
    content: "";
    flex-grow: 999;
}

.photo-gallery li img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--transluscent-background);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: var(--light-text);
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-gallery li:hover .overlay {
    transform: scale(1);
}



