/* Universal Styles */

:root {
    --text-light: bisque;
    --transluscent-background: #523d2899;
    --solid-background: #99856e;
    --header-background: #000;
    --footer-background: #797d8099;
}

html {
    font-family: 'Laila', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    width: 100%;
}

.main-content {
    position: relative;
    top: 4.6rem;
    width: 100%;
}

.cursive {
    font-style: italic;
}

ul {
    list-style: none;
}

.center {
    text-align: center;
}

.image-container {
    overflow: hidden;
}

.image-container img {
    display: block;
    max-width: 100%;
}

/* Header */

header {
    align-items: center;
    list-style: none;
    text-decoration: none;
    width: 100%;
    background-color: var(--header-background);
    position: fixed;
    top: 0;
    z-index: 1000;
}

header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.875rem;
    max-height: 1.4rem;
}

header .logo a {
    display: flex;
    flex: 1;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
    color: var(--text-light);
}

header img {
    height: 2.75rem;
}

header nav ul {
    display: flex;
}

nav li {
    list-style: none;
    padding-left: 3.5rem;
}

header nav a {
    text-transform: uppercase;
}

nav a {
    text-decoration: none;
    line-height: 1.6;
    font-size: 1.4rem;
    color: var(--text-light);
}

header .icon {
    width: 1rem;
    padding-left: .75rem;
    color: var(--text-light);
}

header .mobile {
    display: none;
}

/* News Section */
#news {
    position: relative;
    color: bisque;
    padding-bottom: 3.2rem;
    width: 100%;
    background-color: var(--solid-background);
}

#news h1 {
    text-transform: uppercase;
}

#news .content {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
    text-align: center;
}

#news .about-me, .contact-info, .ian-logo, .recent-posts, .social-media {
    width: 20%;
}

.contact-info a {
    text-decoration: none;
    color: var(--text-light);
}

.social-media h1 {
    margin-bottom: 0;
}

.social-media-links tr {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
}

.social-media td {
    margin: 1rem 2rem;
}

.social-media img {
    flex: 1;
    height: 7rem;
    width: 7rem;
}

.ian-logo img{
    height: 20rem;
    margin-top: 1.5rem;
}


/* Footer */

footer {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    text-decoration: none;
    width: 100%;
    background-color: var(--footer-background);
    position: fixed;
    bottom: 0;
    padding: 1rem;
    z-index: 1000;
}

footer .content {
    display: flex;
    align-items: center;
    padding: 1rem;
    max-height: 1.4rem;
}

footer .logo {
    flex: 1;
    height: 3rem;
    padding-right: 10rem;
    text-decoration: none;
}

footer nav ul {
    display: flex;
    justify-content: center;
    border-right: solid .25rem var(--text-light);
}

footer nav li {
    padding-right: 3.5rem;
    border-left: solid .25rem var(--text-light);
    text-transform: uppercase;
}

footer .icon {
    width: 1rem;
}

footer .mobile {
    display: none;
}

/* Media Queries */
@media only screen and (max-width: 1776px) {
    .social-media img {
        height: 5rem;
        width: 5rem;
    }

    #news .about-me h2 {
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 1450px) {
    #news .about-me {
        display: none;
    }

    .ian-logo img {
        height: 13rem;
    }
}

@media only screen and (max-width: 1390px) {
    .recent-posts {
        display: none;
    }
}

@media only screen and (max-width: 1333px) {
    .social-media h1 {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .contact-info h1 {
        display: none;
    }
}

@media only screen and (max-width: 1136px) {
   header .desktop ul {
    display: none;
   }

   header .page-icons {
    display: block;
   }
}

@media only screen and (max-width: 1050px) {
    .social-media img {
        height: 4rem;
        width: 4rem;
    }

    .ian-logo img {
        height: 10rem;
    }
}

@media only screen and (max-width: 955px) {
    header .desktop {
        display: none;
    }

    header .mobile {
        display: block;
    }
}