/* Intro Section */

#intro-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4rem;
    height: 45rem;
    background-image: url('/static/pictures/photography/dawn-patrol.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 1.2rem;
    color: bisque;
}

#intro-banner {
    flex-shrink: 1;
    position: relative;
    width: 23rem;
    margin: 1.25rem;
    padding: 2.5rem 0;
    border-radius: 13px;
    line-height: 1.3;
    background-color: rgba(0, 0, 0, 0.6);    
}

#intro-banner .content {
    width: 23rem;
    margin: auto;
}

#intro-banner .image-container {
    height: 15rem;
    margin: auto;
}

#intro-banner img {
    height: 15rem;
    margin: auto;
}

#intro-section h1 {
    font-size: 3.125rem;
    font-weight: bold;
}

#motto {
    text-transform: capitalize;
}

#intro-text {
    flex-shrink: 1;
    position: relative;
    width: 35rem;
    margin: 1.25rem;
    padding: 2.5rem;
    border-radius: 13px;
    line-height: 1.4;
    background-color: rgba(0, 0, 0, 0.6);
}

/* Interest Section */

#interest-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
    padding: 4rem;
    background-image: url('/static/pictures/photography/jotunheimen.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.interests {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.image-link {
    display: inline-block;
    margin: 1rem;
    position: relative;
    overflow: hidden;
    transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.image-link img {
    display: block;
    height: 23rem;
    width: 23rem;
    border-radius: 13px;
    filter: brightness(100%);
    transition: filter 0.2s ease-in-out;
}

.image-link:hover img {
    border-radius: 13px;
    transform: scale(110%);
    filter: brightness(50%);
}

.image-link:hover::after {
    content: attr(title);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 13px;
    color: bisque;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
}

@media only screen and (max-width: 1776px) {
    .image-link img {
        height: 18rem;
        width: 18rem;
    }
}