{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block content %}
<div class="about-me">
    <div class="content">
        <div class="center">
            <div class="page-title">
                <h1>Ian Hanson</h1>
                <img class="profile-picture"
                    src="{{ url_for('static', filename='pictures/misc/sailing-profile.webp') }}" alt="me-sailing">
            </div>
            <div class="eras">
                {% for i in range(about_me | length - 1) %}
                {% set era = about_me[i] %}
                <div class="era-container">
                    {% if i % 2 == 0 %}
                <div class="era-content">
                    <div class="era-text">
                        <div class="era-title">
                            <h1>{{ era['title-text'] }}</h1>
                        </div>
                        <div class="text-body">
                            <p>{{ era['text'] }}</p>
                        </div>
                    </div>
                    <div class="img-container" title="{{ era['title-pic'][1] }}">
                        <img src="{{ url_for('static', filename=era['title-pic'][0]) }}">
                    </div>
                </div>
                {% else %}
                <div class="era-content">
                    <div class="img-container" title="{{ era['title-pic'][1] }}">
                        <img src="{{ url_for('static', filename=era['title-pic'][0]) }}">
                    </div>
                    <div class="era-text">
                        <div class="era-title">
                            <h1>{{ era['title-text'] }}</h1>
                        </div>
                        <div class="text-body">
                            <p>{{ era['text'] }}</p>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="photo-gallery">
                    {% for j in range(era['photos'] | length) %}
                    <div class="img-container" title="{{ era['captions'][j] }}">
                        <img src="{{ url_for('static', filename=era['photos'][j]) }}" alt="picture">
                    </div>
                    {% endfor %}
                </div>
            </div>
            <br><br>
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% endblock %}