<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block head %}
    {% endblock %}
    <meta charset="UTF-8">
    <title>IMHanson - Ian Hanson</title>
</head>

<body>
    <!-- Header -->
    <header>
        <div class="content">
            <!-- Desktop Logo -->
            <div class="desktop logo">
                <a href="/">IMHanson <div class="image-container">
                        <img class="logo" src="{{ url_for('static', filename='logos/ian-logo.png')}}" alt="-">
                    </div> Ian Hanson</a>
            </div>

            <!-- Mobile Logo -->
            <div class="mobile logo icon">
                <a href="/">
                    <img src="{{ url_for('static', filename='logos/ian-logo.png') }}" alt="ian-logo">
                </a>
            </div>

            <!-- Desktop Header Nav -->
            <nav class="desktop">
                <ul>
                    {% for page in pages %}
                    <li><a href="{{ url_for(page['name']) }}">{{ page['name'] }}</a></li>
                    {% endfor %}
                </ul>
            </nav>

            <!-- Mobile Header Nav -->
            <nav class="mobile page-icons">
                <ul>
                    {% for page in pages %}
                    <li><a class="icon" href="{{ url_for(page['name']) }}"><img
                                src="{{ url_for('static', filename=page['logo']) }}" alt="page['name']"></a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </header>

    <!-- Main Content -->
    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>

    <!-- News Section -->
    <div id="news" class="desktop">
        <div class="content">
            <div class="about-me">
                <h1>Ian Hanson</h1>
                <h2>Born in the mountains of Utah. Moved to Norway in 2008. Athlete, coach, guide, artist, writer,
                    musician, luthier, handyman, tinkerer, father of two. Always ready for the next adventure!</h2>
            </div>
            <div class="contact-info">
                <a href="/contact">
                    <h1>Contact</h1>
                </a>
                <h2>Glimmervegen 18B <br>4347 Lye <br>Norway</h2>
                <h2>+47 948 44 590</h2>
            </div>
            <div class="ian-logo">
                <img src="{{ url_for('static', filename='logos/ian-logo.png') }}" alt="logo">
            </div>
            <div class="recent-posts">
                <h1>Recent Posts</h1>
                <ul>
                    <li><a href=""></a></li>
                    <li>Post 2</li>
                    <li>Post 3</li>
                    <li>Post 4</li>
                    <li>Post 5</li>
                </ul>
            </div>
            <div class="social-media">
                <h1>Social Media</h1>
                <table class="social-media-links">
                    <tr>
                        {% for i in range(2) %}
                        <td><a href="{{ social_media[i]['link'] }}" target="_blank"><img
                                    src="{{ url_for('static', filename=social_media[i]['logo']) }}"
                                    alt="{{ social_media[i]['name'] }}"></a></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for i in range(2) %}
                        <td><a href="{{ social_media[i + 2]['link'] }}" target="_blank"><img
                                    src="{{ url_for('static', filename=social_media[i + 2]['logo']) }}"
                                    alt="{{ social_media[i + 2]['name'] }}"></a></td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="content">
            <a href="#"><img class="logo" src="{{ url_for('static', filename='logos/ian-logo.png') }}" alt="top"></a>

            <nav>
                <!-- Desktop Footer Nav -->
                <ul class="desktop">
                    <li><a href="#news">What's new</a></li>
                    <li><a href="/contact">Get in touch</a></li>
                </ul>

                <!-- Mobile Footer Nav -->
                <ul class="mobile">
                    <li><a href="#news">icon</a></li>
                    <li><a href="/contact">icon</a></li>
                </ul>
            </nav>
        </div>
    </footer>

</body>

</html>